## *Data Science e Machine Learning*



1 - As bibliotecas básicas para Ciência de Dados

2 - Introdução ao NumPy: A importância do NumPy

3 - Introdução ao NumPy: Propriedades de um array

4 - Introdução ao NumPy: Trabalhando com um array

5 - Introdução ao Pandas: Importando e visualizando uma base

6 - Introdução ao Pandas: DataFrame e Series

7 - Introdução ao Pandas: tipos de dados, valores nulos e seleção de colunas

8 - Introdução ao Pandas: informações estatísticas e filtros na base

9 - Introdução ao Pandas: criando gráficos

# 1 - As bibliotecas básicas para Ciência de Dados
Não tem como falar de Data Science sem mencionar o Pandas.

O Pandas substitui um monte de funções que a gente iria ter que criar na mão.

Para importar qualquer biblioteca do Python, a estrutura básica é:

## `Import pandas as pd`

**Na prática, como funciona:**

In [1]:
import pandas as pd

Com o Pandas é possível ler qualquer arquivo de vários formatos diferentes (CSV, html, excel, etc) utilizando a função read.

A estrutura é simples:

# **biblioteca.read**_tipodearquivo(“*Nomedoarquivo.tipodoarquivo*”)

Precisamos autorizar o Colab acessar o Google Drive, pois assim será possível ler arquivos que estejam no Google Drive.

In [3]:
import os

In [1]:
# Import google drive module
from google.colab import drive
drive.mount('/content/drive')
# modulo para manipular o sistema

ModuleNotFoundError: No module named 'google'

In [ ]:
# muda para o diretorio especificado
os.chdir('/content/drive/MyDrive/Work2023/TopAvancados/')
# verifica qual o diretorio corrente
os.getcwd()
# lista o conteudo do diretório corrente
os.listdir()

In [ ]:
# Leitura do arquivo e armazenar no DataFrame Df.
Df = pd.read_csv('RT_discharge_allstations.csv')

In [ ]:
# Imprime as 5 primeiras linhas do DataFrame
Df.head(5)


*   É possível ver o tipo de cada serie no Pandas utilizando o comando dtypes.

*   No Excel é possível mudar o tipo de uma linha, enquanto no Pandas modificamos para a coluna inteira.
*   Além disso, se um dos dados estiver como texto o Pandas vai entender a coluna inteira como texto, mas existem formas de tratar isso.

In [ ]:
Df.dtypes



*   No Pandas é possível obter todas as informações estatísticas de uma só vez utilizando o comando describe.
*   No Pandas é possível obter algumas informações de forma mais rápida que o Excel.

In [ ]:
Df['RT2y'].describe()

# Introdução ao NumPy





*   O NumPy é a base do Pandas.
*   É basicamente a biblioteca Numerical Python, ou seja, como o próprio nome diz, é
uma biblioteca de computação numérica e é otimizada para cálculos mais pesados.


*   No NumPy vamos trabalhar muito com arrays, que são mais rápidos e mais
performáticos que as listas.
*   Toda vez que a gente precisa importar uma biblioteca, a gente usa o comando import para importar a biblioteca que a gente deseja, além da possibilidade de adicionar um apelido (alias) que vai ajudar a gente a escrever o código.

Estrutura:
# **import** biblioteca **as** apelido

# Importância do NumPy
Para exemplificar a importância do numpy vamos colocar uma lista com 2 valores: venda_valor e comissão.

Vamos tentar calcular quanto cada funcionário vai ganhar de comissão utilizando as listas.

In [ ]:
# Venda e comissão
venda_valor = [150000, 230000, 82000, 143000, 184000]
comissao = [5, 8, 8, 5, 12]

In [ ]:
# fazendo a operação
venda_valor*(comissao/100)

**Como resolver isso?**

In [ ]:
# importação do modulo numpy
import numpy as np

In [ ]:
# converter as listas em array
venda_valor = np.array(venda_valor)
comissao = np.array(comissao)

In [ ]:
# fazendo a operação
venda_valor*(comissao/100)

# Propriedades de um array


> Agora vamos entender as propriedades do array e como ele funciona.


> Uma informação importante que vamos utilizar muito é a dimensão do array, que é feita pela estrutura abaixo.

Estrutura:
#  **array**.shape

In [ ]:
print(venda_valor)
venda_valor.shape

[150000 230000  82000 143000 184000]

(5,)

> Para saber o tipo dos dados, podemos fazer:

# meu_array.dtype

In [ ]:
venda_valor.dtype

> Se eu tenho dados diferentes tipos (inteiro e texto), ele converte tudo para o mesmo tipo de dado.

In [ ]:
tipo_dados = np.array([1,2,3,4,5])
print(tipo_dados)
tipo_dados.dtype

In [ ]:
tipo_dados = np.array([1,2,3,4,5.0])
print(tipo_dados)
tipo_dados.dtype

In [ ]:
tipo_dados = np.array([1,2,3,'4',5])
print(tipo_dados)
tipo_dados.dtype

In [ ]:
tipo_dados = np.array([1,2,3,'4',5.0])
print(tipo_dados)
tipo_dados.dtype

> O array de uma dimensão é o que chamamos de vetor e o de duas dimensões é o que chamamos de matriz.

In [ ]:
dados_venda = np.array([[150000, 230000, 82000, 143000, 184000],[5, 8, 8, 5, 12]])
print(dados_venda)

[[150000 230000  82000 143000 184000]
 [     5      8      8      5     12]]

In [ ]:
dados_venda.shape

In [ ]:
dados_venda.dtype

# Trabalhando com um array
> Agora vamos aprender como trabalhamos com um array.

> Para buscar elementos em um array utilizamos as estruturas abaixo:


*   Buscar por linha:

# array[N]

*   Buscar por linha e coluna:

# array[N][M]

In [ ]:
dados_venda = np.array([['Lucas', 'Bia', 'Maria', 'Laura', 'Pedro'],['150000', '230000', '82000', '143000', '184000']], dtype= '<U11')

In [ ]:
# buscando a primeira linha
dados_venda[0]

array(['Lucas', 'Bia', 'Maria', 'Laura', 'Pedro'], dtype='<U11')

In [ ]:
# buscando na primeira linha e na segunda coluna
dados_venda[0][1]

> Além disso, podemos mostrar as informações estatísticas de um array.

• Média:

# **np.mean**(meu_array)

In [ ]:
dados_venda = np.array([[150000, 230000, 82000, 143000, 184000],[5, 8, 8, 5, 12]])
# media da primeira linha
np.mean(dados_venda[0])

In [ ]:
# media da segunda linha
np.mean(dados_venda[1])

• Mediana: Valor que está no meio da minha
distribuição.

# **np.median**(meu_array)

In [ ]:
# Mediana da primeira linha
np.median(dados_venda[0])

• Desvio Padrão:

# **np.std**(meu_array)

In [ ]:
# Desvio padrão da primeira linha
np.std(dados_venda[0])

> Podemos também realizar operações aritméticas, agregação, comparação, mínimo e máximo, etc.

• Soma:

# **array1 + array2**

In [ ]:
array1 = np.array([1,2,3,4,5])
array2 = np.array([7,8,9,10,11])

In [ ]:
# Soma
array1 + array2

array([ 8, 10, 12, 14, 16])

• Multiplicação

• Por um valor:

# **array1 * valor**
• De arrays:

# **array1 * array2**

In [ ]:
# multiplicação por 2
array1 * 2

In [ ]:
# multiplicação pelos valores vindo de outro array
array1 * array2

• Potência

# **np.power**(array2, array1)

• Soma dos valores da primeira linha
# **np.sum**(array1)

In [ ]:
# potencia de 2
np.power(array1,2)

In [ ]:
# potencia de valores vindo de outro array
np.power(array1,array2)

In [ ]:
# Soma dos valores do array
np.sum(array1)

• Soma acumulada

# **np.cumsum**(array2, array1)
• Mínimo

# **array1.min()**
• Máximo

#**array1.max()**

In [ ]:
# soma acumulada dos valores do array
np.cumsum(array1)

In [ ]:
# valor mínimo
array1.min()

In [ ]:
# valor máximo
array1.max()

# Pandas
> O Pandas possui o Dataframe, que é uma estrutura que vamos utilizar em várias partes do nosso projeto de Data Science. Além disso, com o pandas conseguimos:

• Visualizar bases de dados;

• Analisar dados;

• Visualizar resumo estatístico das informações;

• Obter informações sobre a base de dados importada;

• Fazer gráficos e tabelas.

## Pandas: Importando e visualizando uma base de dados

In [4]:
os.listdir()

['Aula02_Numpy_LP4.ipynb',
 'aula_introducao_LP4.pptx',
 'Aula_NumpyPandas_Tavancado.ipynb',
 'Aula_Numpy_LP4.ipynb',
 'Listas',
 'tarefas']

In [ ]:
# Importando dados para o DataFrame Df.
Df = pd.read_excel('Dados_historico_MADEIRA_2022.xlsx')

In [ ]:
# Visualização das 5 primeiras linhas
Df.head(5)

In [ ]:
# Visualização das 3 últimas linhas
Df.tail(3)

In [ ]:
# Tamanho do DataFrame
Df.shape

> Uma outra opção é a função display, que mostra a visualização dessas três funções juntas (head, tail e shape), ou seja, mostra as primeiras e últimas 5 linhas, número de linhas e colunas.

#**display(base)**

In [ ]:
display(Df)

>Supondo que temos um dicionário de funcionários, venda e comissão.

In [ ]:
dic = {'funcionarios':['Lucas', 'Bia', 'Maria', 'Laura', 'Pedro'], 'venda_valor': [150000, 230000, 82000, 143000, 184000], 'comissao': [5, 8, 8, 5, 12]}

> Como transformar o dicionário em DataFrame?

> O pandas possui uma função:

**pd.DataFrame**(variável)

> Essa função transforma automaticamente esses valores em um DataFrame.

>Então para transformar o dicionário em DataFrame é só utilizar o código:

**pd.DataFrame**(dic)

In [ ]:
base_dic = pd.DataFrame(dic)
base_dic

  funcionarios  venda_valor  comissao
0        Lucas       150000         5
1          Bia       230000         8
2        Maria        82000         8
3        Laura       143000         5
4        Pedro       184000        12

> no pandas temos o que chamamos de series. Mas o que seriam essas series?

> Por exemplo, se o nosso objetivo fosse visualizar somente a coluna funcionários desse DataFrame, essa coluna vai ser uma series e vai ter suas próprias propriedades.

>Exemplo: na series funcionários temos os valores e um índice, então ela é diferente de um array de valores e por isso temos que saber como trabalhar com ela.

In [ ]:
Serie_funcionarios = base_dic['funcionarios']
Serie_funcionarios

0    Lucas
1      Bia
2    Maria
3    Laura
4    Pedro
Name: funcionarios, dtype: object

> Para passar os valores da series funcionários não podemos simplesmente digitar:

**series_funcionário**

> Temos que utilizar uma função mais específica:

**series_funcionarios.values.**

> O mesmo podemos fazer para visualizar somente o índice:

**series_funcionarios.index**

In [ ]:
# verificando os valores da serie
Serie_funcionarios.values

In [ ]:
Serie_funcionarios.index

> É necessário entender as definições de DataFrame e Series para saber como trabalhar.

> Agora quando digitamos o tipo da serie_funcionários, a função type retorna que é um tipo série.

In [ ]:
type(Serie_funcionarios)

pandas.core.series.Series

> Para transformar um Serie em DataFrame, vamos passar a coluna com colchetes duplos, ao invés colchetes simples.

**Dataframe_funcionários = base_dic[ [“funcionários”] ]**

**series_funcionários = base_dic [“funcionários”]**

In [ ]:
Serie_funcionarios = base_dic['funcionarios']
Serie_funcionarios

In [ ]:
Df_funcionarios = base_dic[['funcionarios']]
Df_funcionarios

> Podemos aplicar vários conceitos que vimos no NumPy no Pandas, como por exemplo:

• Mostrar o tipo de dados

**DataFrame.dtypes**

>Uma outra função que podemos utilizar é a info, que vai nos mostrar o tipo de dados e os valores vazios.

 **DataFrame.info**

> A função isnull informa se uma coluna é nula.

 **DataFrame.isnull()**

> Podemos utilizar a estrutura abaixo para contar os valores vazios por coluna:

**DataFrame.isnull().sum()**

In [ ]:
base_dic.dtypes

In [ ]:
base_dic.info

In [ ]:
base_dic.isnull()

In [ ]:
base_dic.isnull().sum()

In [ ]:
Df.isnull()

In [ ]:
Df.isnull().sum()

> É muito simples buscar por uma coluna no DataFrame, podemos usar o nome da coluna entre aspas ou usar o ponto.

**base[ "Title“ ]**

ou

**base.Title**

**Observação:** O ponto só vai funcionar quando o nome da coluna não possuir espaço

In [ ]:
base_dic['funcionarios']

In [ ]:
base_dic.funcionarios

> Podemos utilizar funções na coluna, como por exemplo, o value_counts, que permite contar os valores de uma coluna:

**base["Title“].value_counts()**

In [ ]:
Df.head()

,DIA,1967,1968,1969,1970,1971,1972,1973,1974,1975,...,MÍNIMO,0.9,0.5,0.1,MÁXIMO,90% - mínimo,Entre 10% e 90%,10% - máximo,Cota de Transbordamento,Cota de Alerta
0,1900-01-01,NaN,759,1050.0,919,1004,967,1162,1169,1001,...,759.0,887.20,1070.5,1282.8,1418.0,128.20,395.60,135.2,1700,1500
1,1900-01-02,NaN,734,1059.0,915,999,944,1153,1181,1008,...,734.0,908.70,1081.5,1281.3,1389.0,174.70,372.60,107.7,1700,1500
2,1900-01-03,NaN,711,1055.0,903,992,905,1135,1194,1016,...,711.0,909.20,1097.5,1275.7,1369.0,198.20,366.50,93.3,1700,1500
3,1900-01-04,NaN,688,1041.0,885,991,876,1118,1208,1031,...,688.0,918.35,1121.5,1278.1,1364.0,230.35,359.75,85.9,1700,1500
4,1900-01-05,NaN,671,1028.0,870,988,857,1103,1223,1054,...,671.0,934.25,1136.5,1303.5,1383.0,263.25,369.25,79.5,1700,1500

In [ ]:
Df['1967']

In [ ]:
# devemos converter os nomes das colunas para strings
Df.columns = Df.columns.map(str)

In [ ]:
Df['1967']

> Para selecionar mais de 1 coluna, basta passar uma lista com os valores que queremos buscar.

**lista_colunas = ["1967","1968","1969"]**

**DataFrame[lista_colunas]**

>Dessa forma, você consegue filtrar sua base por coluna.

In [ ]:
lista_colunas = ["1967","1968","1969"]
Df[lista_colunas]

      1967  1968    1969
0      NaN   759  1050.0
1      NaN   734  1059.0
2      NaN   711  1055.0
3      NaN   688  1041.0
4      NaN   671  1028.0
..     ...   ...     ...
361  683.0   950   924.0
362  712.0   979   927.0
363  753.0   988   927.0
364  788.0  1013   924.0
365  787.0  1037   922.0

[366 rows x 3 columns]

In [ ]:
Df_estat = Df[lista_colunas]

> Uma vez selecionado valores numéricos, é possível aplicar funções estatísticas.

• Média de cada coluna

**Df_estat.mean()**

• Contar a quantidade de registros

**Df_estat.count()**

• Mediana

**Df_estat.median()**

• Desvio Padrão

**Df_estat.std()**

In [ ]:
Df_estat.mean()

1967    567.203008
1968    687.355191
1969    735.045082
dtype: float64

In [ ]:
Df_estat.count()

1967    266
1968    366
1969    366
dtype: int64

In [ ]:
Df_estat.median()

1967    499.5
1968    563.5
1969    720.0
dtype: float64

In [ ]:
Df_estat.std()

1967    279.434760
1968    382.325809
1969    369.470545
dtype: float64

> Aqui já podemos começar a fazer uma análise de dados, por exemplo, a média no ano de **"1968"** é **687.35**, a mediana é **563.5** e o desvio padrão é alto **382.32**, , então esses dados estão muito distribuídos, provavelmente podemos ter um outlier.

> Podemos utilizar a função describe para trazer todo o resumo estatístico.

**Df_estat.describe()**

In [ ]:
Df_estat.describe()

              1967         1968         1969
count   266.000000   366.000000   366.000000
mean    567.203008   687.355191   735.045082
std     279.434760   382.325809   369.470545
min     233.000000   214.000000   232.000000
25%     329.750000   346.750000   329.500000
50%     499.500000   563.500000   720.000000
75%     739.500000  1042.250000  1131.250000
max    1289.000000  1440.000000  1280.000000

> As separatrizes são valores que dividem a
distribuição em um certo número de partes
iguais:
>> a mediana divide em 2 partes iguais,

>> os quartis dividem em 4 partes iguais,

>> os decis em 10 partes iguais e,

>>os centis em 100 partes iguais.

>O objetivo das separatrizes é proporcionar uma
melhor idéia da dispersão do conjunto,
principalmente da simetria ou assimetria da
distribuição.
![475-Quartil-e-Percentil.webp]()

> Os quartis são as separatrizes que dividem o
conjunto em 4 partes iguais.

>> O primeiro quartil ou quartil inferior **(Qi)** é o
valor do conjunto que delimita os **25% menores valores**:

>>>25% dos valores são menores do que Qi e 75% são maiores do que Qi.

>> O segundo quartil ou quartil do meio é a própria
mediana (Md), que separa os 50% menores dos
50% maiores valores.

>> O terceiro quartil ou quartil superior (Qs) é o
valor que delimita os **25% maiores valores**:
>>> 75% dos valores são menores do que Qs e 25% são
maiores do que Qs.

> Como são medidas baseadas na ordenação dos
dados, primeiro é preciso calcular a posição dos
quartis.

![func_dist_percentis.png]()

> Da mesma forma que filtramos coluna, podemos fazer para linha, só que precisamos colocar uma condição:

**DataFrame[ DataFrame[ “Coluna” ]** condição]

> Nos filtros é possível colocar mais de uma condição, utilizando o E / OU.

**base[ base[ “Coluna” ]** condição 1 & condição 2]

In [ ]:
Df_estat.quantile(q=0.25)

1967    329.75
1968    346.75
1969    329.50
Name: 0.25, dtype: float64

In [ ]:
Df_estat.quantile(q=0.75)

1967     739.50
1968    1042.25
1969    1131.25
Name: 0.75, dtype: float64

In [ ]:
Df_estat[Df_estat['1967'] > 1000]

In [ ]:
Df_estat[(Df_estat['1967'] > Df_estat['1967'].mean()) & (Df_estat['1967'] < Df_estat['1967'].quantile(q=0.75))]